*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
header{
    background: url(/assets/images/25.jpg);
    background-size: cover;
    width: 100%;
    height: 80px;
    position: fixed;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 200px;
}
.logo{
    text-decoration: none;
    color: rgb(228, 228, 12);
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.8em;
}
.navigation a{
    color: black;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 500;
    padding-left: 30px;
}
.navigation a:hover{
    color: #fff;
}

section{
    padding: 100px 200px;
}
.main{
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: url(/assets/images/v617batch2-kul-05-technology.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    /* تحريك الصورة عند السكرول */
    /* background-attachment: fixed; */
}
.main h2{
    color: #fff;
    font-size: 1.5em;
    font-weight: 700;
}
.main h2 span{
    display: inline-block;
    margin-top: 18px;
    color: rgb(228, 228, 12);
    font-size: 2.8em;
    font-weight: 500;
}
.main h3{
    color: #fff;
    letter-spacing: 2px;
    font-size: 2em;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 32px;
}
.main-btn{
    text-decoration: none;
    color: mediumblue;
    background-color: rgb(228, 228, 12);
    font-size: 1.6em;
    font-weight: 400;
    padding: 8px 20px;
    border-radius: 17px;
    display: inline-block;
    letter-spacing: 1px;
    margin-bottom: 40px;
    transition: 1s ease;
}
.main-btn:hover{
    background-color: rgba(255, 190, 69, 0.959);
    transform: scale(1.1);
}
.social-icons a svg{
    width: 50px;
    color: antiquewhite;
    font-size: 1.2em;
    padding-right: 20px;
    margin-left: 20px;
}
.title{
    display: flex;
    justify-content: center;
    color: darkblue;
    font-size: 2em;
    font-weight: 805;
    margin-bottom: 30px;
}
svg{width: 50px; color: blue;}
.content{
    display: flex;
    justify-content: center;
    flex-direction: row;    
    flex-wrap: wrap;
}
.card{
    background-color: rgb(179, 179, 179);
    width: calc(33% - 10px);
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.315);
    border-radius: 15px;
    padding: 25px;
    margin: 15px;
    transition: 1s ease;
}
.card:hover{
    transform: scale(1.1);
}
.icon{
    color:blue;
    font-size: 8em;
    text-align: center;
}
.info{
    text-align: center;
}
.info h3{
    color: darkblue;
    font-size: 1.2em;
    font-weight: 700;
    margin: 10px;
}
